<a href="/portal/tool/{{placementId}}/forums" onClick="return yaft.switchState('forums');">{{translate 'forums_label'}}</a>-&gt;<a href="{{forum.url}}" onClick="return yaft.switchState('forum');">{{forum.title}}</a>-&gt;<a href="/portal/tool/{{placementId}}/forums/{{forum.id}}/discussions/{{discussion.id}}/messageView" onClick="return yaft.switchState('minimal');">{{discussion.subject}}</a>
