<a href="/portal/tool/{{placementId}}/forums" onClick="return yaft.switchState('forums');">{{translate 'forums_label'}}</a>-&gt;<a href="{{currentForumUrl}}" onClick="return yaft.switchState('forum');">{{currentForumTitle}}</a>-&gt;{{translate 'move_discussion_label'}}
