    <li id="yaft_home_link" role="menuitem"><span class="firstToolBarItem current"><a title="{{translate 'home_tooltip'}}" href="javascript:;">{{translate 'home_label'}}</a></span></li>
    <li id="yaft_add_forum_link" role="menuitem"><span><a title="{{translate 'add_forum_tooltip'}}" href="javascript:;">{{translate 'new_forum_label'}}</a></span></li>
    <li id="yaft_add_discussion_link" role="menuitem"><span><a title="{{translate 'add_discussion_tooltip'}}" href="javascript:;">{{translate 'new_discussion_label'}}</a></span></li>
    <li id="yaft_minimal_link" role="menuitem"><span><a title="{{translate 'minimal_tooltip'}}" href="javascript:;">{{translate 'minimal_label'}}</a></span></li>
    <li id="yaft_full_link" role="menuitem"><span><a title="{{translate 'full_tooltip'}}" href="javascript:;">{{translate 'full_label'}}</a></span></li>
    <li id="yaft_show_deleted_link" role="menuitem"><span><a title="{{translate 'show_deleted_tooltip'}}" href="javascript:;">{{translate 'show_deleted_label'}}</a></span></li>
    <li id="yaft_hide_deleted_link" role="menuitem"><span><a title="{{translate 'hide_deleted_tooltip'}}" href="javascript:;">{{translate 'hide_deleted_label'}}</a></span></li>
    <li id="yaft_authors_view_link" role="menuitem"><span><a title="{{translate 'authors_view_tooltip'}}" href="javascript:;">{{translate 'authors_label'}}</a></span></li>
    <li id="yaft_permissions_link" role="menuitem"><span><a title="{{translate 'permissions_tooltip'}}" href="javascript:;">{{translate 'permissions_label'}}</a></span></li>
